<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>ClassList</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <div class="container">
      <%= if @current_user do %>
        <header class="header" style="padding-top: 15px">
          <nav role="navigation">
            <ul class="nav nav-pills pull-left" style="margin-top: 0px">
              <li><%= link "Students", to: student_path(@conn, :index) %></li>
              <li><%= link "Parents", to: parent_path(@conn, :index) %></li>
              <li><%= link "Addresses", to: address_path(@conn, :index) %></li>
              <li><%= link "Classes", to: class_path(@conn, :index) %></li>
              <li><%= link "Buses", to: bus_path(@conn, :index) %></li>
              <li><%= link "Entries", to: entry_path(@conn, :index) %></li>
              <li><%= link "Users", to: user_path(@conn, :index) %></li>
              <li><%= link "Directory", to: directory_path(@conn, :index) %></li>
            </ul>
            <ol class="breadcrumb text-right">
              <%= ClassList.Coherence.ViewHelpers.coherence_links(@conn, :layout) %>
            </ol>
          </nav>
        </header>
      <% end %>

      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
