<h2>Edit parent</h2>

<%= render "form.html", changeset: @changeset, parent: @parent,
                        action: parent_path(@conn, :update, @parent) %>

<%= link "Back", to: parent_path(@conn, :index) %>
