<h2>Show entry</h2>

<ul>

  <li>
    <strong>Data:</strong>
    <%= "#{inspect @entry.data}" %>
  </li>

  <li>
    <strong>Inserted:</strong>
    <%= @entry.inserted_at %>
  </li>

  <li>
    <strong>Updated:</strong>
    <%= @entry.updated_at %>
  </li>

</ul>

<%= link "Delete", to: entry_path(@conn, :delete, @entry), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-danger btn-xs" %>
<%= link "Back", to: entry_path(@conn, :index), class: "btn btn-default btn-xs" %>
