<h2>Show entry</h2>

<ul>

  <li>
    <strong>Data:</strong>
    <%= "#{inspect @entry.data}" %>
  </li>

  <li>
    <strong>Inserted:</strong>
    <%= @entry.inserted_at %>
  </li>

  <li>
    <strong>Updated:</strong>
    <%= @entry.updated_at %>
  </li>

</ul>

<%= link "Back", to: entry_path(@conn, :index) %>
