/* This file is for your main application css. */

main a {
  padding-right: 0.5em;
}

main h2 {
  padding-top: 50px;
  padding-right: 300px;
}

h2.panel-title {
  padding-top: 8px;
  padding-right: 0px;
  padding-bottom: 8px;
}

.parent_contact {
  padding-left: 2em;
}

.parent_address {
  padding-left: 1em;
}

.student_name {
  margin-bottom: 0px;
}
